@model IList<Cascade.Data.Models.PutBackViewEditResult>
@using Cascade.Web.Presentation.ExtensionMethods

<h2>Putback Records:</h2>

<style type="text/css">
    body {font-family: Arial;}
    .heading { font-weight:bold}
    .specialtd { mso-number-format:"0"; }
</style>

<div id="divRecallRecords">
    <table id="recallRecords" border="1">
        <thead>
            <tr> 
                
                <th>Portfolio#</th>
                <th>Facevalue</th>
                <th>CostBasis</th>
                <th>SalesBasis</th>
                <th>AmtReceivable</th>
                <th>AmtPayable</th>
                

                <th>Date</th>
                <th>Uploaded Date</th>
                <th>Date Note Sent</th>
                <th>Acct Closed Date</th>
                <th>Name</th>
                <th>Original Account</th>
                <th>PIMS Account</th>
                <th>Unique ID #</th>


                <th>CurrentResp</th>
                <th>PutBack Reason</th>
                <th>NewStatus</th>
                <th>NewResp</th>
                <th>CheckNumber</th>
                <th>Invoice</th>
                <th>Explanation</th>
                <th>SellerCheck</th>
                <th>Initiated By</th>
                <th>Seller</th>

            </tr> 
        </thead> 
        <tbody> 
            @foreach (var recallRecord in Model)
            {
                <tr>
                    
                    <td>@recallRecord.Portfolio</td>
                    <td>@recallRecord.FaceValueofAcct.ToIntegerCurrency()</td>

                    <td>@recallRecord.CostBasis.ToIntegerCurrency()</td>
                    <td>@recallRecord.SalesBasis.ToIntegerCurrency()</td>
                    <td>@recallRecord.AmtReceivable.ToIntegerCurrency()</td>
                    <td>@recallRecord.AmtPayable.ToIntegerCurrency()</td>

                    <td>@recallRecord.Date.ConverToDate()</td>
                    <td>@recallRecord.UploadedDate.ConverToDate()</td>

                    <td>@recallRecord.DateNoteSent.ConverToDate()</td>
                    <td>@recallRecord.DateAcctClosed.ConverToDate()</td>
                    <td>@recallRecord.AcctName</td>
                    <td class="specialtd">@recallRecord.OrigAcct</td>
                    <td class="specialtd">@recallRecord.PIMSAcct</td>
                    <td>@recallRecord.GUID</td>

                     <td>@recallRecord.CurrentResp</td>
                     <td>@recallRecord.PutBackReason</td>
                     <td>@recallRecord.NewStatus</td>
                     <td>@recallRecord.NewResp</td>
                     <td>@recallRecord.CheckNumber</td>
                     <td>@recallRecord.Invoice</td>
                     <td>@recallRecord.Explanation</td>
                     <td>@recallRecord.SellerCheck</td>
                     <td>@recallRecord.InitiatedBy</td>
                     <td>@recallRecord.Seller</td>

                </tr> 
            }
        </tbody>
    </table>
</div>

        
    
    