@{
    ViewBag.Title = "RecallAddView";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Scripts.Render("~/bundles/jquery")
<h2>Recall : Add</h2>
@Html.Hidden("userId", (string)(@ViewBag.UserID))
@Html.Hidden("agencyId", (string)(@ViewBag.AgencyID))
@Html.Hidden("hdnUserRole", (string)(@ViewBag.UserRole))
@Html.Hidden("hdnId", (string)(@ViewBag.Id))

@*Message Summary*@
<div id="messageSummary" style="font-size: small">
    <ul>
    </ul>
</div>

@*PIMS Results set*@
<div id="pimsResults" style="font-size: small; display:none">
    <table style="text-align: center">
        <tr>
            <th>
            </th>
            <th>
                Last name
            </th>
            <th>
                First Name
            </th>
            <th>
                PIMS Account #
            </th>
            <th>
                Original Account #
            </th>
            <th>
                Opened Date
            </th>
            <th>
                C/O Date
            </th>
        </tr>
        <tbody data-bind="foreach:pimsRecords">
            <tr>
                <td>
                    <a href="#" data-bind="click:$root.selectedAccount">Select</a>
                </td>
                <td data-bind="text:LastName">
                </td>
                <td data-bind="text:FirstName">
                </td>
                <td data-bind="text:ACCOUNT">
                </td>
                <td data-bind="text:OriginalAccount">
                </td>
                <td data-bind="text:OpenDate">
                </td>
                <td data-bind="text:ChargeOffDate">
                </td>
            </tr>
        </tbody>
    </table>
</div>

@*New Recall*@
<div id="RecallRecordContainer">
    <table class="searchtable" style="width: 80%" data-bind="visible:showSearchCriteria" id="tblserchCriteria">
        <tr>
            <td colspan="3">
                <b>Identify Recall Initiation and Search Recall Data:</b>
            </td>
        </tr>
        <tr>
            <td style="width: 30%; text-align: left">
                Recall being initiated by
            </td>
            <td style="width: 1%; text-align: center">
                :
            </td>
            <td style="width: 69%; text-align: left">
                <select id="newRecallBy" class="ddlwidth" data-bind="options:recallByOptions,optionsValue:'Value', optionsText: 'Text', value: recallByOption"></select>
            </td>
        </tr>
        <tr>
            <td style="width: 30%; text-align: left">
                PIMS Account Number
            </td>
            <td style="width: 1%; text-align: center">
                :
            </td>
            <td style="width: 69%; text-align: left">
                <input type="text" id="pimsAccount" data-bind="hasfocus:setFocus,value:pimsAccountNumber" />
                <span data-bind="text:pimsAccountNumberRequired, visible:pimsAccountNumberRequiredHasError" style="color: Red"></span>
            </td>
        </tr>
        <tr>
            <td style="width: 30%; text-align: left">
                Consumer Name
            </td>
            <td style="width: 1%; text-align: center">
                :
            </td>
            <td style="width: 69%; text-align: left">
                <input type="text" id="clientName" data-bind="value:clientName" />
            </td>
        </tr>
        <tr>
            <td style="width: 30%; text-align: left">
                Original Account Number
            </td>
            <td style="width: 1%; text-align: center">
                :
            </td>
            <td style="width: 69%; text-align: left">
                <input type="text" id="originalAccount" data-bind="value:originalAccountNumber" />
                <span data-bind="text:originalAccountNumberRequired, visible:originalAccountNumberRequiredHasError"
                    style="color: Red"></span>
            </td>
        </tr>
        <tr>
            <td colspan="3" class="confirmBtnContainer">
                <input type="button" id="refreshBtn" title="Search" data-bind="click:search" />
            </td>
        </tr>
    </table>
    <table class="dummyitem" style="width: 80%">
        <tr>
            <td style="text-align: center">
                <div data-bind="fadeVisible:showMessage" style="background-color: #1f497d; color: #fff;">
                    <span data-bind="text:message"></span>
                </div>
            </td>
        </tr>
    </table>
    <table class="PIMSDatatable" style="width: 80%; display:none" data-bind="visible:pimsDataAvailable">
        <tr> <td colspan="3"><b>PIMS Data:</b></td></tr>
        <tr class="dummyitem"> <td colspan="3"></td>   </tr>
                    <tr>
                        <td style="text-align: left; width: 30%">
                            Name
                        </td>
                        <td style="text-align: center; width: 1%">
                            :
                        </td>
                        <td data-bind="text:name" style="text-align: left; width: 69%">
                        </td>
                    </tr>
                    <tr>
                        <td style="text-align: left; width: 30%">
                            Portfolio
                        </td>
                        <td style="text-align: center; width: 1%">
                            :
                        </td>
                        <td data-bind="text:portfolio" style="text-align: left; width: 69%">
                        </td>
                    </tr>
                    <tr>
                        <td style="text-align: left; width: 30%">
                            Seller
                        </td>
                        <td style="text-align: center; width: 1%">
                            :
                        </td>
                        <td data-bind="text:seller" style="width: 69%">
                        </td>
                    </tr>
                    <tr>
                        <td style="text-align: left; width: 30%">
                            Current Responsibility
                        </td>
                        <td style="text-align: center; width: 1%">
                            :
                        </td>
                        <td data-bind="text:CurrentResponsibility" style="text-align: left; width: 69%">
                        </td>
                    </tr>
                    <tr>
                        <td style="text-align: left; width: 30%">
                            Face Value of Account
                        </td>
                        <td style="text-align: center; width: 1%">
                            :
                        </td>
                        <td data-bind="text:FaceValueOfAcct" style="text-align: left; width: 69%">
                        </td>
                    </tr>
            </table>
            <table class="dummyitem" style="width: 80%"></table>
            <table class="originaltable" style="width: 80%; display:none" data-bind="visible:pimsDataAvailable">
                <tr>
                    <td colspan="3">
                        <b>Original Request Data:</b>
                    </td>
                </tr>
                <tr class="dummyitem">
                    <td colspan="3"></td>
                </tr>
                <tr>
                    <td style="text-align: left; width: 30%">Date</td>
                    <td style="text-align: center; width: 1%">:</td>
                    <td style="width: 69%; text-align: left">
                        <input type="text" id="newDateRec" data-bind="value:newDateRec" />
                    </td>
                </tr>
                <tr>
                    <td style="text-align: left; width: 30%">Reason for Recall
                    </td>
                    <td style="text-align: center; width: 1%">:</td>
                    <td style="width: 69%; text-align: left">
                        <select id="newReasonForRecallList" class="ddlwidth" data-bind="options:recallreasons,optionsValue:'Value', optionsText: 'Text',optionsCaption: ' ', value: recallreason"></select>
                    </td>
                </tr>
                <tr>
                    <td style="text-align: left; width: 30%">New Status</td>
                    <td style="text-align: center; width: 1%">:</td>
                    <td style="width: 69%; text-align: left">
                        <select id="newStatusList" class="ddlwidth" data-bind="options:statuses,optionsValue:'Value', optionsText: 'Text',optionsCaption: ' ', value: status"></select>
                    </td>
                </tr>
                <tr>
                    <td style="text-align: left; width: 30%">New Responsibility</td>
                    <td style="text-align: center; width: 1%">:</td>
                    <td style="width: 69%; text-align: left">
                        <select id="newResponsibilitiesList" class="ddlwidth" data-bind="options:responsibilities,optionsValue:'Value', optionsText: 'Text',optionsCaption: ' ', value: responsibility"></select>
                    </td>
                </tr>
            </table>
            <table class="dummyitem" style="width: 80%"></table>
            <table class="FollowupDatatable" style="width: 80%; display:none"  data-bind="visible:pimsDataAvailable">
                    <tr>
                        <td style="text-align: left; width: 30%"><b>Follow-up Data</b></td>
                        <td style="text-align: right; width: 1%"></td>
                        <td style="width: 69%; text-align: left"><b>Dates/Notes</b></td>
                    </tr>
                    <tr class="dummyitem">
                        <td colspan="3"></td>
                    </tr>
        
                     <tr>
                        <td style="text-align: left; width: 30%">Explanation</td>
                        <td style="text-align: right; width: 1%">:</td>
                        <td style="width: 69%; text-align: left">
                            <input id="newExplanation" type="text" class="txtwidth" data-bind="value:newExplanation"/>
                
                        </td>
                    </tr>
                    <tr>
                        <td style="text-align: left; width: 30%">Date Notification Sent</td>
                        <td style="text-align: right; width: 1%">:</td>
                        <td style="width: 69%; text-align: left">
                            <input type="text" id="newDateNotificationSent" data-bind="value:newDateNotificationSent" />
                                
                        </td>
                    </tr>
                    <tr>
                        <td style="text-align: left; width: 30%">Date Account Closed</td>
                        <td style="text-align: right; width: 1%">:</td>
                        <td style="width: 69%; text-align: left">
                            <input type="text" id="newDateAcctClosed"  data-bind="value:newDateAcctClosed" />
                
                
                        </td>
                    </tr>
                    <tr>
                        <td style="text-align: left; width: 30%">Uploaded Date</td>
                        <td style="text-align: right; width: 1%">:</td>
                        <td style="width: 69%; text-align: left">
                            <input id="newUploadedDate" type="text" data-bind="value:newUploadedDate" />
                
                        </td>
                    </tr>
        
                    <tr>
                        <td style="text-align: left; width: 40%">
                            <table>
                                <tr><td colspan="3"><b>Receivable</b></td></tr>
                                <tr>
                                    <td style="text-align: left; width: 30%">Cost Basis</td>
                                    <td style="text-align: center; width: 1%">:</td>
                                    <td style="width: 69%; text-align: left">
                                        <input id="newCostBasis" type="text" data-bind="value:newCostBasis" readonly="true"/>
                
                        </td>
                                </tr>
                                <tr>
                                    <td style="text-align: left; width: 30%">Receivable Amount</td>
                                    <td style="text-align: center; width: 1%">:</td>
                                    <td style="width: 69%; text-align: left">
                                        <input id="newAmtReceivable" type="text"  readonly="true"  data-bind='value: amtReceivableComputed'  />
                
                                     </td>
                                </tr>
                                <tr>
                                    <td style="text-align: left; width: 30%">Invoice</td>
                                    <td style="text-align: center; width: 1%">:</td>
                                    <td style="width: 69%; text-align: left">
                                        <input id="newInvoice" type="text" data-bind="value:newInvoice, enable:isenable"/>
                
                                    </td>
                                </tr>
                                <tr>
                                    <td style="text-align: left; width: 30%">Seller Check#</td>
                                    <td style="text-align: center; width: 1%">:</td>
                                    <td style="width: 69%; text-align: left">
                                    <input id="newSellerCheck" type="text" data-bind="value:newSellerCheck,enable:isenable" />
                
                                     </td>
                                </tr>
                                <tr>
                                    <td style="text-align: left; width: 60%">Check Upload (Y/N)?</td>
                                    <td style="text-align: center; width: 1%">:</td>
                                    <td style="width: 39%; text-align: left">
                                        <input type="checkbox" data-bind="checked: newUploaded" />
                                    </td>
                                </tr>


                            </table>
                        </td>
                        <td style="text-align: right; width: 1%">&nbsp;</td>
                        <td style="text-align: left; width: 59%">
                            <table>
                                <tr><td colspan="3"><b>Payable</b></td></tr>
                                <tr>
                                    <td style="text-align: left; width: 30%">Sales Basis</td>
                                    <td style="text-align: center; width: 1%">:</td>
                                    <td style="width: 69%; text-align: left">
                            <input id="newSalesBasis" type="text" data-bind="value:newSalesBasis" readonly="true"/>
                
                             </td>
                                </tr>
                                <tr>
                                    <td style="text-align: left; width: 30%">Payable Amount</td>
                                    <td style="text-align: center; width: 1%">:</td>
                                    <td style="width: 69%; text-align: left">
                            <input id="newAmtPayable" type="text"  readonly="true" data-bind='value: amtPayableComputed' />
                
                        </td>
                                </tr>
                                <tr>
                            <td style="text-align: left; width: 30%">Check No</td>
                            <td style="text-align: center; width: 1%">:</td>
                            <td style="width: 69%; text-align: left">
                            <input id="newCheckNo" type="text" data-bind="value:newCheckNo" />
                
                        </td>
                                </tr>
                                <tr>
                                <td style="text-align: left; width: 30%">Unique Id #</td>
                                <td style="text-align: center; width: 1%">:</td>
                                <td style="width: 69%; text-align: left">
                                        <input id="newGUID" type="text" data-bind="value:newGUID"  class="guidwidth" readonly="true" />
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>

                    <tr>
                        <td colspan="3" class="confirmBtnContainer">
                            <input type="button" id="saveNewBtn" title="Add" data-bind="click:save"/>
                         </td>
                    </tr>
                    <tr>
                        <td colspan="3">
                            <div id="resultSummaryData" style="color: Red">
                                <ul>
                                </ul>
                            </div>
                        </td>
                    </tr>
                </table>



</div>

<div id="fileUploadContainer" style="display:none">
    @using (Html.BeginForm("UploadAllDocuments", "Recall", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        <table class="FileUploadTable">
                
               <thead style="color:Blue">
                        <tr>
                            <th colspan="2" style="text-align: left">
                                Media Type
                            </th>
                            <th colspan="2"style="text-align: left">
                                Browse/Upload
                            </th>
                            
                        </tr>
               </thead>
               <tr><td colspan="4" class="dummyitem">&nbsp;</td></tr>
               <tr>
                    <td colspan="2">Check Images</td>
                    <td colspan="2">
                        <input name="checkDocuments" id="checkDocuments" data-bind="value:checkDocuments"  type="file"  multiple/>
                    </td>
                    
                </tr>
                <tr><td colspan="4" class="dummyitem">&nbsp;</td></tr>
                <tr>
                    <td colspan="4">
                        <input type="submit" class="editButton" value="&nbsp;Upload&nbsp;& Exit" data-bind="visible:showUpload"/>
                    </td>
                </tr>
        </table>
        @Html.Hidden("hdnRecallRecordID", "")
    }
</div>

@Scripts.Render("~/bundles/knockout")

@section scripts{
    <script src="~/Scripts/jquery-ui-1.8.11.js" type="text/javascript"></script>
    <script src="~/Scripts/recallAddView.js" type="text/javascript"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#messageSummary').dialog({ modal: true, title: 'Summary:', autoOpen: false, width: 200, height: 200 });
            $('#pimsResults').dialog({ modal: true, title: 'Select account:', autoOpen: false, width: 800, height: 500 });
            //For file upload Div
            $('#fileUploadContainer').dialog({ modal: true, title: 'Upload Check Images:', autoOpen: false, width: 500, height: 400 });
            //Page view model
            var pageVM = new pageViewModel($('#userId').val(), $('#agencyId').val(), $('#hdnUserRole').val(), $('#hdnId').val());
            //Knockout Bindings
            ko.applyBindings(pageVM);
            //Initial settings
            $('#pimsAccount').focus(function () { $(this).val(''); }).blur(function () { if ($(this).val() == '') $(this).val(pimsAccountFocusString); });
            $('#clientName').focus(function () { $(this).val(''); }).blur(function () { if ($(this).val() == '') $(this).val(fOrlNameFocusString); });
            $('#originalAccount').focus(function () { $(this).val(''); }).blur(function () { if ($(this).val() == '') $(this).val(originalAccountFocusString); });
            //For date Picker controls
            $('#newDateRec').datepicker();
            $('#newDateNotificationSent').datepicker();
            $('#newDateAcctClosed').datepicker();
            $('#newUploadedDate').datepicker();

        });
    </script>
}