@{
    ViewBag.Title = "Index";
}
@Scripts.Render("~/bundles/jquery")
<link href="@Url.Content("~/Content/dataTables/demo_table.css")" rel="stylesheet" type="text/css" />
@Html.Hidden("userId", (string)(@ViewBag.UserName))
<style>
    .portfolioGrid thead th {
        padding: 3px 18px 3px 10px;
        border-bottom: 1px solid black;
        font-weight: bold;
        cursor: pointer;
        * cursor: hand;
        background-color: #1f497d;
        color: #fff;
    }

    .portfolioGrid tfoot th {
        padding: 3px 18px 3px 10px;
        border-top: 1px solid black;
        font-weight: bold;
    }

    .portfolioGrid tr.heading2 td {
        border-bottom: 1px solid #aaa;
    }

    .portfolioGrid td {
        padding: 3px 10px;
        color: black;
    }

        .portfolioGrid td.center {
            text-align: center;
        }

    .portfolioGrid tr:nth-child(even) {
        background: #fff;
    }

    .portfolioGrid tr:nth-child(odd) {
        background: #E2E4FF;
    }
</style>
<h2>
    Portfolio Form</h2>
<table>
</table>
<div id="portfolioContainer">
    <div id="portfolioAcqSection" data-bind="with:purchaseSummarySectionVM">
        <table class="tblCommon" style="">
            <tr>
                <td style="width: 90%">
                    <table>
                        <tr>
                            <td style="text-align: right; width: 25%">
                                <b>Portfolio Purchase Summary</b>
                            </td>
                            <td style="width: 1%" colspan="4">
                                :
                            </td>
                        </tr>
                        <tr>
                            <td style="text-align: right; width: 25%">
                                Portfolio #
                            </td>
                            <td style="width: 1%">
                                :
                            </td>
                            <td colspan="4">
                                <select id="portfolioList" data-bind="options:$parent.portfolios,optionsValue:'Value', optionsText: 'Text',optionsCaption: ' ', value: $parent.portfolioNumber,visible:$parent.portfolioListVisible">
                                </select>
                                <input type="text" data-bind="value:portfolioNumber, not: {visible:$parent.portfolioListVisible}" />
                            </td>
                        </tr>
                        <tr>
                            <td style="border: 0px solid red; text-align: right; width: 25%">
                                Company
                            </td>
                            <td style="width: 1%">
                                :
                            </td>
                            <td style="border: 0px solid red; text-align: left; width: 35%">
                                <input type="text" id="company" data-bind="value:company, enable:$parent.portfolioEditableFields"
                                    size="50" />
                            </td>
                            <td style="border: 0px solid red; text-align: right; width: 15%">
                                Resale Restriction
                            </td>
                            <td style="width: 1%">
                                :
                            </td>
                            <td style="border: 0px solid red; text-align: left; width: 23%">
                                <select data-bind="options:resaleRestrictions,optionsValue:'Value', optionsText: 'Text',optionsCaption: ' ', value: resaleRestriction">
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td style="text-align: right; width: 25%">
                                Lender/File Description
                            </td>
                            <td style="width: 1%">
                                :
                            </td>
                            <td style="text-align: left; width: 35%">
                                <input type="text" id="lenderFileDes" data-bind="value:lender" size="50" />
                            </td>
                            <td style="text-align: right; width: 15%">
                                Purchase Date
                            </td>
                            <td style="width: 1%">
                                :
                            </td>
                            <td style="text-align: left; width: 23%">
                                <input type="text" id="purchaseDate" data-bind="value:purchaseDate, enable:$parent.portfolioEditableFields" />
                            </td>
                        </tr>
                        <tr>
                            <td style="text-align: right; width: 25%">
                                Seller
                            </td>
                            <td style="width: 1%">
                                :
                            </td>
                            <td style="text-align: left; width: 35%">
                                <input type="text" id="seller" data-bind="value:seller" size="50" />
                            </td>
                            <td style="text-align: right; width: 15%">
                                Cut-Off Date
                            </td>
                            <td style="width: 1%">
                                :
                            </td>
                            <td style="text-align: left; width: 23%">
                                <input type="text" id="cutoffDt" data-bind="value:cutOffDt" />
                            </td>
                        </tr>
                        <tr>
                            <td style="text-align: right; width: 25%">
                                Cost Basis
                            </td>
                            <td style="width: 1%">
                                :
                            </td>
                            <td style="text-align: left; width: 35%">
                                <input type="text" id="costbasis" data-bind="value:costBasis, enable:$parent.portfolioEditableFields" />
                            </td>
                            <td style="text-align: right; width: 15%">
                                Putback Term(days)
                            </td>
                            <td style="width: 1%">
                                :
                            </td>
                            <td style="text-align: left; width: 23%">
                                <select id="putbackTerm" data-bind="options:putbackTerms,optionsValue:'Value', optionsText: 'Text',optionsCaption: ' ', value: putbackTerm">
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td style="text-align: right; width: 25%">
                                Face Value
                            </td>
                            <td style="width: 1%">
                                :
                            </td>
                            <td style="text-align: left; width: 35%">
                                <input type="text" id="face" data-bind="value:face, enable:$parent.portfolioEditableFields" />
                            </td>
                            <td style="text-align: right; width: 15%">
                                Putback Deadline
                            </td>
                            <td style="width: 1%">
                                :
                            </td>
                            <td style="text-align: left; width: 23%">
                                <input type="text" id="putbackDeadline" data-bind="value:putbackDeadline, enable:$parent.portfolioEditableFields" />
                            </td>
                        </tr>
                        <tr>
                            <td style="text-align: right; width: 25%">
                                #Of Accounts
                            </td>
                            <td style="width: 1%">
                                :
                            </td>
                            <td style="text-align: left; width: 35%">
                                <input type="text" id="accts" data-bind="value:accounts, enable:$parent.portfolioEditableFields" />
                            </td>
                            <td style="text-align: right; width: 15%">
                                Purchase Price
                            </td>
                            <td style="width: 1%">
                                :
                            </td>
                            <td style="text-align: left; width: 23%">
                                <input type="text" id="purchasePrice" data-bind="value:purchasePrice, enable:$parent.portfolioEditableFields" />
                            </td>
                        </tr>
                        <tr>
                            <td style="text-align: right; width: 25%">
                                Notes
                            </td>
                            <td style="width: 1%">
                                :
                            </td>
                            <td style="text-align: left;" colspan="4">
                                <textarea id="purchaseNotes" cols="70" rows="3" data-bind="value:notes"></textarea>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="6" style="text-align: center;">
                                <div data-bind="fadeVisible:showMessage" style="background-color: #1f497d; color: #fff">
                                    <span data-bind="text:message"></span>
                                </div>
                            </td>
                        </tr>
                    </table>
                </td>
                <td>
                    <table>
                        <tr>
                            <td style="text-align: center">
                                <img src="~/Content/images/savebutton.png" data-bind="click:saveMainRecord, visible:saveVisible" />
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
    </div>
    <br />
    <div id="portfolioDetailsSection" data-bind="not: {visible:portfolioBlankScenario}">
        <ul>
            <li><a href="#salesTab">Sales</a></li>
            <li><a href="#collectionsTab">Collections</a></li>
            <li><a href="#investmentsTab">Investments</a></li>
            <li><a href="#distributionsTab">Distributions</a></li>
            <li><a href="#interestTab">Interest</a></li>
            <li><a href="#notesTab">Notes</a></li>
        </ul>
        <div id="salesTab" data-bind="with: salesTabVM">
            
            <table class="tblCommon">
                <tr>
                    <td style="width: 90%">
                        <table>
                            <tr>
                                <td style="text-align: right; width: 25%" colspan="3">
                                    <b>Portfolio Sales Summary</b>
                                </td>
                            </tr>
                            <tr>
                                <td style="text-align: right; width: 25%">
                                    Portfolio #
                                </td>
                                <td style="width: 1%">
                                    :
                                </td>
                                <td style="text-align: left" colspan="4">
                                    <input type="text" id="portfolioNumber-sales" data-bind="enable:false,value:currentSalesRecord().portfolioNumber" />
                                </td>
                            </tr>
                            <tr data-bind="visible:currentSalesRecord().Id != ''">
                                <td style="text-align: right; width: 25%">
                                    Sales Batch #
                                </td>
                                <td style="width: 1%">
                                    :
                                </td>
                                <td style="text-align: left" colspan="4">
                                    <select data-bind="options:salesRecords,optionsValue:'salesBatch', optionsText: 'salesBatch', value: salesBatchSelected">
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <td style="border: 0px solid red; text-align: right; width: 25%">
                                    Lender
                                </td>
                                <td style="width: 1%">
                                    :
                                </td>
                                <td style="border: 0px solid red; text-align: left; width: 35%">
                                    <input type="text" id="lender" data-bind="value:currentSalesRecord().lender" size="50" />
                                </td>
                                <td style="border: 0px solid red; text-align: right; width: 15%">
                                    Sale Date
                                </td>
                                <td style="width: 1%">
                                    :
                                </td>
                                <td style="border: 0px solid red; text-align: left; width: 23%">
                                    <input type="text" id="saleDate" data-bind="enable:$parent.portfolioEditableFields,value:currentSalesRecord().cutoffDt" />
                                </td>
                            </tr>
                            <tr>
                                <td style="text-align: right; width: 25%">
                                    Buyer
                                </td>
                                <td style="width: 1%">
                                    :
                                </td>
                                <td style="text-align: left; width: 35%">
                                    <select data-bind="options:buyers,optionsValue:'Value', optionsText: 'Text',optionsCaption: ' ', value: currentSalesRecord().buyer">
                                    </select>
                                </td>
                                <td style="text-align: right; width: 15%">
                                    Sales Cutoff Date
                                </td>
                                <td style="width: 1%">
                                    :
                                </td>
                                <td style="text-align: left; width: 23%">
                                    <input type="text" id="cutOffDate" data-bind="enable:$parent.portfolioEditableFields,value:currentSalesRecord().cutoffDt" />
                                </td>
                            </tr>
                            <tr>
                                <td style="text-align: right; width: 25%">
                                    SalesBasis
                                </td>
                                <td style="width: 1%">
                                    :
                                </td>
                                <td style="text-align: left; width: 35%">
                                    <input type="text" id="salesBasis" data-bind="enable:$parent.portfolioEditableFields,value:currentSalesRecord().salesBasis" />
                                </td>
                                <td style="text-align: right; width: 15%">
                                    PutbackTerm(Days)
                                </td>
                                <td style="width: 1%">
                                    :
                                </td>
                                <td style="text-align: left; width: 23%">
                                    <select id="putbackTerms" data-bind="options:putbackTerms,optionsValue:'Value', optionsText: 'Text',optionsCaption: ' ', value: currentSalesRecord().putbackTerm">
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <td style="text-align: right; width: 25%">
                                    FaceValue
                                </td>
                                <td style="width: 1%">
                                    :
                                </td>
                                <td style="text-align: left; width: 35%">
                                    <input type="text" id="faceValue-sales" data-bind="enable:$parent.portfolioEditableFields,value:currentSalesRecord().faceValue" />
                                </td>
                                <td style="text-align: right; width: 15%">
                                    PutbackDeadline
                                </td>
                                <td style="width: 1%">
                                    :
                                </td>
                                <td style="text-align: left; width: 23%">
                                    <input type="text" id="putbackDeadline-sales" data-bind="enable:$parent.portfolioEditableFields,value:currentSalesRecord().putbackDeadline" />
                                </td>
                            </tr>
                            <tr>
                                <td style="text-align: right; width: 25%">
                                    SalesPrice
                                </td>
                                <td style="width: 1%">
                                    :
                                </td>
                                <td style="text-align: left; width: 35%">
                                    <input type="text" id="salesPrice-sales" data-bind="enable:$parent.portfolioEditableFields,value:currentSalesRecord().salesPrice" />
                                </td>
                                <td style="text-align: right; width: 15%">
                                    Number Of Accounts
                                </td>
                                <td style="width: 1%">
                                    :
                                </td>
                                <td style="text-align: left; width: 23%">
                                    <input type="text" id="accounts" data-bind="enable:$parent.portfolioEditableFields,value:currentSalesRecord().accounts" />
                                </td>
                            </tr>
                            <tr>
                                <td style="text-align: right; width: 25%">
                                    Notes
                                </td>
                                <td style="width: 1%">
                                    :
                                </td>
                                <td style="text-align: left;" colspan="4">
                                    <textarea id="salesNotes" cols="70" rows="3" data-bind="value:currentSalesRecord().notes"></textarea>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="6" style="text-align: center">
                                    <img src="~/Content/images/back_enabled.jpg" data-bind="click:previousRecord,visible:visiblePrevious" />&nbsp;<span
                                        data-bind="text:recordCounts"></span> &nbsp;
                                    <img src="~/Content/images/forward_enabled.jpg" data-bind="click:nextRecord,visible:visibleNext" />
                                </td>
                            </tr>
                            <tr>
                                <td colspan="6" style="text-align: center">
                                    <div data-bind="fadeVisible:showMessage" style="background-color: #1f497d; color: #fff">
                                        <span data-bind="text:message"></span>
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </td>
                    <td>
                        <table>
                            <tr>
                                <td colspan="6" style="text-align: center">
                                    <img src="~/Content/images/savebutton.png" data-bind="click:saveRecord, visible:saveVisible" />
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </div>
        <div id="collectionsTab" data-bind="with: collectionsTabVM">  
            <input style="float:right" type="button" class="editButton" value="  Add New  " data-bind="click:addNewCollection" />                      
            <div id="editView" data-bind="with: currentCollectionRecord">
                <table>
                    <tr>
                        <td style="text-align: right; width: 20%">Closing Date</td>
                        <td style="width: 2%">:</td>
                        <td style="text-align: left; width: 36%">
                            <input type="text" id="closingDate-coln" data-bind="value:closingDt" /></td>
                        <td style="text-align: right; width: 20%">Portfolio Number</td>
                        <td style="width: 2%">:</td>
                        <td style="text-align: left; width: 20%">
                            <input type="text" id="portfolioNumber-coln" data-bind="enable:false,value:portfolioNumber" /></td>
                    </tr>
                    <tr>
                        <td style="text-align: right; width: 20%">Agency Name</td>
                        <td style="width: 2%">:</td>
                        <td style="text-align: left" colspan="4">
                            <select data-bind="options:$parent.agencies,optionsValue:'Text', optionsText: 'Text', value: $parent.selectedAgency">
                            </select></td>

                    </tr>
                    <tr>
                        <td style="text-align: right; width: 20%">Face Value</td>
                        <td style="width: 2%">:</td>
                        <td style="text-align: left; width: 36%">
                            <input type="text" id="faceValue" data-bind="value:faceValue" /></td>
                        <td style="text-align: right; width: 20%">Net Colls</td>
                        <td style="width: 2%">:</td>
                        <td style="text-align: left; width: 20%">
                            <input type="text" id="netColls" data-bind="value:netColls" /></td>

                    </tr>
                    <tr style="display:none">
                        <td style="text-align: right; width: 20%">TransType</td>
                        <td style="width: 2%">:</td>
                        <td style="text-align: left" colspan="4">
                            <select disabled="disabled" data-bind="options:$parent.collectionsTransTypes,optionsValue:'Value', optionsText: 'Text',optionsCaption: ' ', value: collectionsTransType">
                            </select></td>
                    </tr>
                    <tr>
                        <td colspan="6" style="text-align: center">
                            <img src="~/Content/images/savebutton.png" data-bind="click:$parent.saveRecord" />
                        </td>
                    </tr>
                </table>
            </div>
            <div style="width: 100%; height: 300px; overflow: auto;">
                <table id="collectionsGrid" class="portfolioGrid">
                    <thead>
                        <tr>
                            <th style="width: 20%">Portfolio Number</th>
                            <th style="width: 20%">Closing Date</th>
                            <th style="width: 20%">Agency</th>
                            <th style="width: 20%">Face Value</th>
                            <th style="width: 20%">Net Colls</th>
                        </tr>
                    </thead>
                    <tbody data-bind="foreach:collectionRecords()">
                        <tr data-bind="click:$parent.selectedRecordIndexChanged">
                            <td style="text-align: center" data-bind="text:portfolioNumber"></td>
                            <td style="text-align: center" data-bind="text:closingDt"></td>
                            <td style="text-align: center" data-bind="text:collectionAgencyName"></td>
                            <td style="text-align: center" data-bind="text:faceValue"></td>
                            <td style="text-align: center" data-bind="text:netColls"></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <br />
            <p style="background-color: #1f497d; color: #fff; text-align: right">Total collections:<span data-bind="text:totalCollections"></span></p>

            
            <div data-bind="fadeVisible:showMessage" style="background-color: #1f497d; color: #fff;text-align:center"><span data-bind="text:message"></span></div>
                    </div>

        <div id="investmentsTab" data-bind="with:investmentsTabVM">
            <input style="float:right" type="button" class="editButton" value="  Add New  " data-bind="click:addNewInvestment" />                      
            <table>
                    <tr>
                        <td style="text-align: right; width: 20%">Portfolio Number</td>
                        <td style="width: 2%">:</td>
                        <td style="text-align: left; width: 20%">
                            <input type="text" id="portfolioNumber-invest" data-bind="enable:false,value:currentInvestmentRecord().portfolioNumber" /></td>

                        <td style="text-align: right; width: 20%">Investor</td>
                        <td style="width: 2%">:</td>
                        <td style="text-align: left; width: 36%">
                            <select data-bind="options:investors,optionsValue:'Value', optionsText: 'Text', value: currentInvestmentRecord().investor">
                            </select></td>
                    </tr>
                    <tr>
                <td style="text-align: right; width: 20%">Profit Share Before</td>
                <td style="width: 2%">:</td>
                <td style="text-align: left; width: 20%">
                    <input type="text" id="profiteShareBefore" data-bind="value:currentInvestmentRecord().prftShareBfr" /></td>

                <td style="text-align: right; width: 20%">Profit Share After</td>
                <td style="width: 2%">:</td>
                <td style="text-align: left; width: 36%">
                    <input type="text" id="profitShareAfter" data-bind="value:currentInvestmentRecord().prftShareAftr" /></td>
            </tr>
                    <tr>
                <td style="text-align: right; width: 20%">Contribution</td>
                <td style="width: 2%">:</td>
                <td style="text-align: left; width: 20%">
                    <input type="text" id="contribution" data-bind="value:currentInvestmentRecord().contribution" /></td>

                <td style="text-align: right; width: 20%">Interest Rate</td>
                <td style="width: 2%">:</td>
                <td style="text-align: left; width: 36%">
                    <input type="text" id="interestRate" data-bind="value:currentInvestmentRecord().interestRate" /></td>
            </tr>
                    <tr>

                <td style="text-align: right; width: 20%">Notes</td>
                <td style="width: 2%">:</td>
                <td style="text-align: left; width: 36%" colspan=4>
                    <textarea id="notes-invest" rows="5" cols="30" data-bind="value:currentInvestmentRecord().notes"></textarea></td>
            </tr>
                    <tr>
                <td colspan="6" style="text-align: center">
                    <img src="~/Content/images/back_enabled.jpg" data-bind="click:previousRecord,visible:visiblePrevious" />&nbsp;<span data-bind="text:recordCounts"></span> &nbsp;
                    <img src="~/Content/images/forward_enabled.jpg" data-bind="click:nextRecord,visible:visibleNext" /></td>
            </tr>
                    <tr style="background-color: #1f497d">
                <td colspan="6">
                    <table style="width: 100%; border-color: white; border-style: solid; border-width: 2px">
                        <tr>
                            <td style="text-align: right; width: 88%; color: #fff">Total Contributions</td>
                            <td style="text-align: right; width: 2%; color: #fff">:</td>
                            <td style="text-align: left; width: 10%; color: #fff"><span data-bind="text:totalContributions"></span></td>
                        </tr>
                    </table>
                </td>
            </tr>
                    <tr>
                <td colspan="6" style="text-align: center">
                    <img src="~/Content/images/savebutton.png" data-bind="click:saveRecord" />
                </td>
            </tr>
            </table>
        </div>
        <div id="distributionsTab">
        </div>
        <div id="interestTab">
        </div>
        <div id="notesTab">
        </div>
    </div>
</div>
@Scripts.Render("~/bundles/knockout")
@section scripts{
    <script src="~/Scripts/jquery-ui-1.8.11.js" type="text/javascript"></script>
    <script src="~/Scripts/datatable/jquery.dataTables.min.js" type="text/javascript"></script>
    <script src="~/Scripts/jquery.formatCurrency-1.4.0.min.js" type="text/javascript"></script>
    <script src="~/Scripts/portfolioLookups.js" type="text/javascript"></script>
    <script src="~/Scripts/portfolioSales.js" type="text/javascript"></script>
    <script src="~/Scripts/portfolioCollections.js" type="text/javascript"></script>
    <script src="~/Scripts/portfolioInvestment.js" type="text/javascript"></script>
    <script src="~/Scripts/portfolioPurchaseSummary.js" type="text/javascript"></script>
    <script src="~/Scripts/portfolio.js" type="text/javascript"></script>
    <script type="text/javascript">
        $(document).ready(function () {

            $(function () {
                $("#portfolioDetailsSection").tabs();
            });

            ko.applyBindings(new portfolioVM($('#userId').val()));
            $('#closingDt').datepicker();
            $('#cutoffDt').datepicker();
            $('#closingDate-int').datepicker();

            $('#portfolioList').live('change', function () {

            });
        });


    </script>
}
