@model IList<Cascade.Data.Models.Port_DPS>
@using Cascade.Web.Presentation.ExtensionMethods

<link href="@Url.Content("~/Content/dataTables/demo_table.css")" rel="stylesheet" type="text/css" />

<script src="~/Scripts/datatable/jquery-1.4.4.min.js" type="text/javascript"></script>
<script src="~/Scripts/datatable/index.js" type="text/javascript"></script>
<script src="~/Scripts/datatable/jquery.dataTables.min.js" type="text/javascript"></script>

<h2>View Collections:</h2>

<div id="divDPSRecords">
    <table id="dpsRecords" class="display">
        <thead>
            <tr> 
                <th></th>
                <th>Portfolio#</th>
                <th>Amount</th>
                <th>Date Received</th>
                <th>Tran Date</th>
                <th>Name</th>
                <th>Original Account</th>
                <th>PIMS Account</th>
            </tr> 
        </thead> 
        <tbody> 
            @foreach (var dpsRecord in Model)
            {
                <tr>
                    <td>@Html.ActionLink("View", "Details", new {  id=dpsRecord.ID })</td>
                    <td>@dpsRecord.Portfolio_</td>
                    <td>@dpsRecord.Amount.ToIntegerCurrency()</td>
                    <td>@dpsRecord.DateRec.ConverToDate()</td>
                    <td>@dpsRecord.TransDate.ConverToDate()</td>
                    <td>@dpsRecord.AcctName</td>
                    <td>@dpsRecord.OrigAcct_</td>
                    <td>@dpsRecord.PIMSAcct_</td>
                </tr> 
            }
        </tbody>
    </table>
</div>

