@{
    ViewBag.Title = "MediaRequestCreate";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@Scripts.Render("~/bundles/jquery")
<h2>
    Media Request</h2>
@Html.Hidden("userId", (string)(@ViewBag.UserID))
@Html.Hidden("agencyId", (string)(@ViewBag.AgencyID))
@Html.Hidden("hdnUserRole", (string)(@ViewBag.UserRole))
@Html.Hidden("hdnId", (string)(@ViewBag.Id))
<div id="messageSummary" style="font-size: small">
    <ul>
    </ul>
</div>
<div id="pimsResults" style="font-size: small">
    <table style="text-align: center">
        <tr>
            <th>
            </th>
            <th>
                Last name
            </th>
            <th>
                First Name
            </th>
            <th>
                Client Account #
            </th>
            <th>
                Original Account #
            </th>
            <th>
                Opened Date
            </th>
            <th>
                C/O Date
            </th>
        </tr>
        <tbody data-bind="foreach:pimsRecords">
            <tr>
                <td>
                    <a href="#" data-bind="click:$root.selectedAccount">Select</a>
                </td>
                <td data-bind="text:LastName">
                </td>
                <td data-bind="text:FirstName">
                </td>
                <td data-bind="text:ACCOUNT">
                </td>
                <td data-bind="text:OriginalAccount">
                </td>
                <td data-bind="text:OpenDate">
                </td>
                <td data-bind="text:ChargeOffDate">
                </td>
            </tr>
        </tbody>
    </table>
</div>
<div id="statementMediaTypeConstraint" style="font-size: small">
    <table style="width: 100%">
        <tr>
            <td colspan="5">
                Statement Date Range
            </td>
        </tr>
        <tr>
            <td>
                From
            </td>
            <td>
                <input type="text" id="statementStDt" data-bind="value:statementStDt" />
            </td>
            <td>
                To
            </td>
            <td>
                <input type="text" id="statementEndDt" data-bind="value:statementEndDt" />
            </td>
            <td>
                <input type="button" class="editButton" value="OK" data-bind="click:submitStatementDateRange" />
            </td>
        </tr>
        <tr>
        </tr>
    </table>
</div>
<div id="newComplaintContainer">
    <table class="searchtable" style="width: 60%" data-bind="visible:showSearchCriteria">
        <tr>
            <td colspan="3">
                <b>Retrieve Account Information to begin Media Request (use any field to search):</b>
            </td>
        </tr>
        <tr>
            <td style="width: 30%; text-align: left">
                Client Account Number
            </td>
            <td style="width: 1%; text-align: center">
                :
            </td>
            <td style="width: 69%; text-align: left">
                <input type="text" id="pimsAccount" data-bind="hasfocus:setFocus,value:pimsAccountNumber" />
                <span data-bind="text:pimsAccountNumberRequired, visible:pimsAccountNumberRequiredHasError"
                    style="color: Red"></span>
            </td>
        </tr>
        <tr>
            <td style="width: 30%; text-align: left">
                Client Name
            </td>
            <td style="width: 1%; text-align: center">
                :
            </td>
            <td style="width: 69%; text-align: left">
                <input type="text" id="clientName" data-bind="value:clientName" />
            </td>
        </tr>
        <tr>
            <td style="width: 30%; text-align: left">
                Original Account Number
            </td>
            <td style="width: 1%; text-align: center">
                :
            </td>
            <td style="width: 69%; text-align: left">
                <input type="text" id="originalAccount" data-bind="value:originalAccountNumber" />
                <span data-bind="text:originalAccountNumberRequired, visible:originalAccountNumberRequiredHasError"
                    style="color: Red"></span>
            </td>
        </tr>
        <tr>
            <td colspan="3" class="confirmBtnContainer">
                <input type="button" id="refreshBtn" title="Search" data-bind="click:search" />
            </td>
        </tr>
    </table>
    <table class="dummyitem" style="width: 60%">
        <tr>
            <td style="text-align: center">
                <div data-bind="fadeVisible:showMessage" style="background-color: #1f497d; color: #fff;">
                    <span data-bind="text:message"></span>
                </div>
            </td>
        </tr>
    </table>
    <table class="searchtable" style="width: 60%" data-bind="visible:pimsDataAvailable">
        <tr>
            <td style="width: 100%; background-color: #1f497d; display: none">
                <a href="#" style="text-decoration: none; font-weight: bold; color: white" data-bind="click:showHidePimsData">
                    PIMS Data:</a>
            </td>
        </tr>
        <tr>
            <td>
                <b>Verify Client Account Data to View Available Media</b>
            </td>
        </tr>
        <tr>
            <td>
                <table data-bind="visible:showPIMSData">
                    <tr>
                        <td style="text-align: left; width: 30%">
                            Portfolio
                        </td>
                        <td style="text-align: center; width: 1%">
                            :
                        </td>
                        <td data-bind="text:portfolio" style="text-align: left; width: 69%">
                        </td>
                    </tr>
                    <tr style="display: none">
                        <td style="text-align: left; width: 30%">
                            Original Lender / Product
                        </td>
                        <td style="text-align: center; width: 1%">
                            :
                        </td>
                        <td data-bind="text:lender" style="text-align: left; width: 69%">
                        </td>
                    </tr>
                    <tr style="display: none">
                        <td style="text-align: left; width: 30%">
                            SSN
                        </td>
                        <td style="text-align: center; width: 1%">
                            :
                        </td>
                        <td data-bind="text:ssn" style="text-align: left; width: 69%">
                        </td>
                    </tr>
                    <tr>
                        <td style="text-align: left; width: 30%">
                            Account Holder's Name
                        </td>
                        <td style="text-align: center; width: 1%">
                            :
                        </td>
                        <td data-bind="text:name" style="text-align: left; width: 69%">
                        </td>
                    </tr>
                    <tr>
                        <td style="text-align: left; width: 30%">
                            Open Date
                        </td>
                        <td style="text-align: center; width: 1%">
                            :
                        </td>
                        <td data-bind="text:openDate" style="text-align: left; width: 69%">
                        </td>
                    </tr>
                    <tr>
                        <td style="text-align: left; width: 30%">
                            C/O date
                        </td>
                        <td style="text-align: center; width: 1%">
                            :
                        </td>
                        <td data-bind="text:coDate" style="text-align: left; width: 69%">
                        </td>
                    </tr>
                    <tr>
                        <td style="text-align: left; width: 30%">
                            Seller
                        </td>
                        <td style="text-align: center; width: 1%">
                            :
                        </td>
                        <td data-bind="text:seller" style="width: 69%">
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td style="text-align: right">
                <input type="button" class="editButton" value="&nbsp;View Media&nbsp;" data-bind="click:viewMedia" />
            </td>
        </tr>
    </table>
    <table class="dummyitem">
    </table>
    <table class="FollowupDatatable" data-bind="visible:showMediaTypeSelection" style="width: 60%">
        <tr>
            <td>
                Select Media Type and Click "Submit" (Note: Media Shown is Immediately Available)
            </td>
        </tr>
        <tr>
            <td>
                <ul data-bind="foreach: mediaTypes">
                    <li>
                        <input type="checkbox" data-bind="enable:enable,checked:checked,click: $parent.mediaChecked,value:value,attr: {id: 'mediaType' + value}" />&nbsp;<span
                            data-bind="text: text, attr:{for: 'mediaType'+ value}"></span></li>
                </ul>
            </td>
        </tr>
        <tr>
            <td style="text-align: center">
                <input type="button" class="editButton" value="&nbsp;Submit&nbsp;& Exit" data-bind="click:submit,visible:showSubmit" />
                <input type="button" class="editButton" value="&nbsp;Submit&nbsp;& Request More" data-bind="click:submitRequestMore,visible:showSubmit" />
            </td>
        </tr>
    </table>
</div>
@Scripts.Render("~/bundles/knockout")
@section scripts{
    <script src="~/Scripts/jquery-ui-1.8.11.js" type="text/javascript"></script>
    <script src="~/Scripts/mediaRequest.js" type="text/javascript"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#messageSummary').dialog({ modal: true, title: 'Summary:', autoOpen: false, width: 200, height: 200 });
            $('#pimsResults').dialog({ modal: true, title: 'Select account:', autoOpen: false, width: 800, height: 500 });
            $('#statementMediaTypeConstraint').dialog({ modal: true, title: '', autoOpen: false, width: 500, height: 200 });
            var pageVM = new pageViewModel($('#userId').val(), $('#agencyId').val(), $('#hdnUserRole').val(), $('#hdnId').val())
            ko.applyBindings(pageVM);
            if ($('#hdnId').val() != '') {
                pageVM.loadExisitingRequest();
            }

            $('#pimsAccount').focus(function () { $(this).val(''); }).blur(function () { if ($(this).val() == '') $(this).val(pimsAccountFocusString); });
            $('#clientName').focus(function () { $(this).val(''); }).blur(function () { if ($(this).val() == '') $(this).val(fOrlNameFocusString); });
            $('#originalAccount').focus(function () { $(this).val(''); }).blur(function () { if ($(this).val() == '') $(this).val(originalAccountFocusString); });

            $('#statementStDt').datepicker({ dateFormat: 'mm/dd/yy' });
            $('#statementEndDt').datepicker({ dateFormat: 'mm/dd/yy' });
        });
    </script>
}
